export(SPCAvRP, SPCAvRP_parallel, SPCAvRP_ranking, select_projection, project_covariance, final_estimator, SPCAvRP_subspace, SPCAvRP_deflation, select_projections_subspace)
import(MASS)
import(parallel)
importFrom("utils", "head")

